* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #12121a;
    color: white;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    width: 800px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* FORM */
.form {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.form input, .form select, .form button {
    padding: 12px;
    border-radius: 8px;
    border: none;
}

.form input {
    flex: 1;
}

.form button {
    background: #4caf50;
    color: white;
    cursor: pointer;
}

/* LISTAS */
.titulo {
    margin: 20px 0 10px;
}

.baixa-text { color: #4caf50; }
.media-text { color: #fbc02d; }
.alta-text { color: #e53935; }

ul {
    list-style: none;
}

.tarefa {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 12px;
    border-radius: 12px;
    font-size: 18px;
    transition: 0.3s;
}

/* CORES */
.baixa { background: #1b5e20; }
.media { background: #f9a825; color: black; }
.alta { background: #b71c1c; }

/* CHECKBOX */
.tarefa input {
    transform: scale(1.5);
    margin-right: 15px;
}

/* CONCLUÍDO */
.tarefa input:checked + label {
    text-decoration: line-through;
    opacity: 0.6;
}
